video
    max-width 100%;
    height auto;

/*
Code Copy Fix
*/
.code-copy
    opacity 1 !important;
    height 0;
    padding-bottom 0.25rem;

    span
        font-weight 600;
        font-family $ff-base;
        transition opacity 200ms ease-out !important;
        padding-bottom 0.25rem !important;
        font-size 0.9rem !important;

    svg
        opacity 1 !important;
        padding 0.25rem;
        border-radius 3px;
        transition all 0.25s ease;
        top 25px;
        right 4px;
        width 20px;
        opacity 0.65 !important;
        height 20px !important;

        &:hover, &:active
            background-color #ffffff59;
            opacity 1 !important;